@font-face {
    font-family: "helvetica";
    src: url("./Assets/Fonts/helvetica/Helvetica.ttf");
}

@font-face {
    font-family: "helvetica-roman";
    src: url("./Assets/Fonts/helvetica/Helvetica\ Roman.ttf");
}

@font-face {
    font-family: "helvetica-bold";
    src: url("./Assets/Fonts/helvetica/Helvetica-Bold.ttf");
}

.border{
    width: 1000px;
    margin: auto;
    border: 1px solid black;
    border-bottom: 1px solid white;
}

.button-container{
    display: flex;
    align-items: center;
    width: 97%;
    margin: auto;
    justify-content: space-between;
}

.button-container, button, a{
    font-family: "helvetica-bold", sans-serif;
    font-size: 16px;
    margin-top: 10px;
    padding-bottom: 5px;
    background: rgb(0 48 135);
    color: white;
    border: none;
    cursor: pointer;
    text-decoration: none;
}


body{
    background-color: white;
    margin-left:60px;
    margin-right:60px;
}

.title-container{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(0 48 135);
    color: white;
    margin: 15px;    
}

.title-container h1{
    font-family: "helvetica-roman", sans-serif;
    text-align: center;
    font-size: 70px;
    color: white;
    margin: 0px;
}

.title-container img{
    position: absolute;
    right: 0px;
    width: auto;
    height: 81px;
}

.paragraph1{
    font-family: "helvetica", sans-serif;
    background-color: rgb(232, 232, 232);
    margin-right: 30%;
}

.paragraph1 h3{
    margin-left: 10px;
}

.paragraph1 p{
    margin-left: 10px;
}